.hero {
  height: 200px;
  background-color: rgb(57, 136, 198);
  /* color: white;
  font-size: 30px; */

  background-image: url(../img/pattern.png);
}

.main-title {
  font-size: 4rem;
  margin: 0.5rem;
}

.author {
  font-size: 1.5rem;
  color: rgb(102, 94, 94);
  margin: 0.5rem;
}

.date {
  font-size: 1rem;
  color: rgb(102, 94, 94);
  margin: 0.5rem;
}

.header-pictures {
  margin-bottom: 1rem;
}

.pic-description {
  font-size: 1rem;
  margin: 0rem;
}

main {
  font-size: 1.2rem;
}

table {
  width: 100%;
}

table td,
table th {
  padding: 0;
  width: 18rem;
}

.last-coloumn {
  width: 25rem;
}

.table-header {
  color: white;
  background-color: rgb(95, 180, 246);
}

.table-uneven-row {
  background-color: rgb(191, 246, 251);
}

#suggestion-item-1 {
  background-image: url(/img/monitor.jpg);
  height: 200px;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

#suggestion-item-2 {
  background-image: url(/img/graph.jpg);
  height: 200px;
  background-repeat: no-repeat;
}
